<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shopping</title>
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="whole-container">
      <!-- navbar -------------------------------------------------------->
      <nav class="navbar">
        <a href="./index.html"><h1>practice Shopp</h1></a>
        <a href="./cart.html"
          ><div class="icon-number">
            <!-- icon -->
            <i class="bi bi-bag"></i>
            <div id="amount" class="number">0</div>
          </div></a
        >
      </nav>
      <!-- navbar ends ----------------------------------------------------->

      <!-- main section start ---------------------------------------------->
      <main id="main-section" class="main-section"></main>
    </div>
  </body>

  <script src="../src/data.js"></script>
  <script src="../src/app.js"></script>
</html>
