* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #eb5e28;
  color: #ccc5b9;
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
  font-size: 1.5rem;
}
.navItems {
  display: flex;
  position: relative;
}
.cartAmount {
  position: absolute;
  top: -15px;
  right: -10px;
  background-color: #252422;
  padding: 4px;
  border-radius: 5px;
}
.bi-cart {
  font-size: 2rem;
}
/* ! main section */
.shop {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 30px;
}
.items {
  width: 220px;
  border: 2px solid #eb5e28;
}
img {
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity {
  display: flex;
  gap: 8px;
  font-size: 1.2rem;
}
.bi-dash-lg {
  color: red;
}
.bi-plus {
  color: green;
}
